dtd_and_schema_for_EP(v1.4)/ep-bulletin-v1-4.dtd

<!--This entity may be identified by the PUBLIC identifier:
********************************************************************************
PUBLIC "-//EPO//EP PATENT BULLETIN 1.4//EN" "ep-bulletin-v1-4.dtd"
********************************************************************************

********************************************************************************
* Based upon WIPO ST.36 model dtd xx-patent-document v1.0 2005 March
* and ep-patent-document.dtd v1.2
*******************************************************************************************
* Based upon PUBLIC "-//WIPO//XX PATENT DOCUMENT 1.0//EN" "xx-patent-document-v2-0.dtd" *
*******************************************************************************************
* Based upon http://www.wipo.int/scit/en/standards/st36-xml-dtd.htm *
*******************************************************************************************
* CONTACTS
******************
* EPO: 
Paul Brewin - pbrewin@epo.org
Ute Koplin - ukoplin@epo.org
Keri Rowles - krowles@epo.org

******************
* NOTES
******************

This DTD is intended for:
- the EP BULLETIN (data required according to Rule 143(1) of the EPC (European Patent Convention))
- EBD files (see http://ebd2.epoline.org/jsp/index.jsp)
- For the EP title pages (also repeated in ep-patent-document.dtd)
- It is not intended for any other purpose than the above
- tables, maths, ent.refs etc etc all removed (see ep-patent-document.dtd) as they are not
needed in this DTD.

*** IMPORTANT - ANY CHANGES TO ELEMENTS and ATTRIBUTES IN THIS DTD MUST BE REFLECTED IN
ep-patent-document.dtd AND VICE VERSA
with the exception of these head notes ***

- the <SDOBI> - bibliographic data - replaces the EBD data - see www.epoline.org - 
as from publication week 1, 2006 but parallel production will start on the EBD website
well before that date; but week 1, 2006 is the official date.
(See: http://ebd2.epoline.org/jsp/index.jsp for notification of change, test data etc.)
- This DTD will be maintained and updated by the EPO; DTD updates and
further documentation will be posted on the epoline.org site.
- It will be sent to WIPO for posting on their site.

*** Note to EBD users. The EBD files on the epoline website are contained in
two zip files and when extracted contained in one big file (one for A documents
and one for B documents). This DTD is intended to validate only ONE instance
within those files; one file may contain 1000+ instances. So, from these files
extract each instance beginning and ending:
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE ep-bulletin PUBLIC "-//EPO//EP BULLETIN 1.0//EN"
<ep-bulletin ..> ... </ep-bulletin>.
With a minor modification to this DTD it would be possible to validate the
one file with many instances BUT many id attributes would not be unique.***

*** IMPORTANT: Note to EPO editors: do not modify using Near & Far; use
a text editor to preserve elements in the order of this DTD. Save as
a PC and Unicode (Textpad) ***

**********************************
* REVISION HISTORY
**********************************
* DATE: 2005-04-05 v. 0-1
- created PB

* DATE: 2005-05-13 v. 0-1
- classifciation-ipcr: order of elements did not
conform to IPC8 - changed to correct order

*********************************
* DATE: 2005-08-22 v. 0-1-1 PB
- added id attribute to B050EP

*********************************
* DATE: 2005-09-28 v. 1-0 PB
- Changed to PRODUCTION version

*********************************
* DATE: 2007-07-02 v. 1-1 PB
* THE EPC2000 CHANGES:
*********************************
* This DTD contains ONLY changes required
* for PHASE 2 of EPC2000 
* Phase 3 changes are commented out and 
* MAY change. 
* Phase 2 changes are:
- changed DTD version number to 1-1
- added sequence attribute to root element
- added B075EP + sub-tags
- added B090EP  + sub-tags
- added B690  + sub-tags
- added natural language equivalent names 

- POSTED ON WEBSITE SEPT. 2007
******************************************************************************************************
* REVISION HISTORY FOR VERSION 1.3
Note: this data indicates all changes made to version 1.1
in order to create 1.3
NOTE:  we have skipped version 1.2 to keep in line with the main DTD: ep-patent-document.dtd v.1.3
******************************************************************************************************
*********************************
* DATE: 2007-12-11 v. 1.3  PB
- Changes for EPC2000 PHASE 2
- B0755EP - list of attribute values in comments updated
- small changes to comments eg Rule numbers

*********************************
* DATE: 2007-12-17 v. 1.3  PB
- Added EPC 2000 PHASE 3 a) and b) data::
- added <!ELEMENT B012EP  (B0120EP+) >
- changed <!ELEMENT B0900EP  (B091EP+, B092EP?,B093EP?)>
- <B690> changed to <B270> BUT commented out waiting WIPO approval
- added <!ELEMENT B453EP  (B4530EP+) >

********************************
* DATE: 2008-02-12   v1.3  PB
- changed <!ELEMENT B012EP  (B0120EP+) >
- added <B270> INID (27) approved by WIPO
- corrected <B453EP> model

********************************
* DATE: 2009-01-20  v. 1.4  RSG and PB
- Added value 7 to description of B245EP
- Updated article nr to EPC2000 in B830


**********************************
* EP-BULLETIN
**********************************

* EBD ep-bulletin

EPO usage:

Required attribute usage IN THIS ORDER is:

- id must follow these examples: id="EP12345678A1", "EP12345678A9W1": country, appl.no., kind
- file: this can have TWO values depending on the document instance:
- for the EBD it will simply be the plain application number: file="04102952.1"
- for the full patent document (produced by EPO contractor) it will be updated to file="04102952.xml"
BUT we may change this to file naming conventions mentioned in ST.36.
- the lang attribute value must be in lower case, eg. en, fr, de
- the country code attribute values must be in upper case (WIPO ST.3) , eg. DE, ES, FR, US, WO
- doc-number - the publication number
- the kind attribute value must be in upper case, eg. A1, B1
- correction-code (e.g. W1) must ONLY be populated in the case of a correction, in upper case
- date-publ - the publication date, e.g. date-publ="20050105"
- status - for the EPO this will be either n (new), c (corrected), r (replacement)
- sequence - only used (SO FAR) for B3 (EPC2000)
- dtd-version, e.g. dtd-version="ep-bulletin-v1-3"
ATTRIBUTES NOT USED:
- date-produced
- file-reference-id (may be in PatXML files)


Having all these attributes at this level helps processing, stylesheet set up, etc.

Example:

for EBD data:
<ep-bulletin id="EP04102952A1" file="04102952.1" lang="de" country="EP"
doc-number="1493319" kind="A1" date-publ="20050105" status="n"
dtd-version="ep-bulletin-v1-3">

NOTES:
- we do NOT use the <bibliographic-data> element and elements; we use <SDOBI>
- SDOBI (created by the EPO, must not be changed)
-->
<!ELEMENT ep-bulletin  (SDOBI) >

<!ATTLIST ep-bulletin
               id  ID    #IMPLIED 
               file  CDATA    #REQUIRED 
               lang  CDATA    #IMPLIED 
               country  CDATA    #REQUIRED 
               doc-number  CDATA    #REQUIRED 
               kind  CDATA    #REQUIRED 
               correction-code  CDATA    #IMPLIED 
               date-publ  CDATA    #REQUIRED 
               status  CDATA    #REQUIRED 
               sequence  CDATA    #IMPLIED 
               dtd-version  CDATA    #REQUIRED 
               date-produced  CDATA    #IMPLIED 
               file-reference-id  CDATA    #IMPLIED  >

<!--* EBD SDOBI - COPIED FROM
LINE BELOW INTO/FROM ep-patent-document.dtd

*********************************
SDOBI - BIBLIOGRAPHY SUB-DOCUMENT
*********************************

The elements under <SDOBI> are for use mainly by the EPO and
for backward compatibility.

These tags are used for the EP BULLETIN and
EBD data on the epoline website; see:
http://ebd2.epoline.org/jsp/index.jsp
and for title page data

These tags correspond very closely to the ST.32 SGML tags.
Of course, now it is XML all tags now must have an end tag (unlike SGML).
Floating tags are not allowed in XML and therefore <BCHG> and <ECHG> and <BR> do not
appear in <SDOBI>.

<BR> has been replaced by UTF-8 character

<BCHG> and <ECHG> have been replaced - in bibliographic data ONLY - and for EP purposes
by ep-chg-info and (ep-chg+) and attribute values - see below

Where an id attribute has been added to a B tag this is used for the change reference.

*******************************************************************************
* B TAG NOTES
*******************************************************************************
- A non exhaustive list of changes to the "B-tags" with respect to
ST.32 and/or or eppat.dtd(Version 1, Release 6, Level 0) follows.
- Note: NOT all tags in this DTD are used in the
EP Bulletin/EBD data; the others are
kept in for compatibility with ep-patent-document.dtd
- All tags that ARE in the EBD file are indicated as: * EBD

** New B-tags in ST.36 and not in ST.32:

ELEMENT B151 - Correction code elements, modified old EP tags
ELEMENT B152 now ICE elements
ELEMENT B153
ELEMENT B154
ELEMENT B1541
ELEMENT B1542
ELEMENT B155
ELEMENT B1551
ELEMENT B1552

ELEMENT B211EP - Application number in EPOQUE format
ELEMENT B311EP - Priority application number in EPOQUE format
ELEMENT B510EP - IPC Reform
ELEMENT B542EP - Title of invention in original language code.
ELEMENT B599EP (in ST.32)
ELEMENT B721EP - Name with all original language characters

** Old ST.32 B-tags removed from ST.36:

ELEMENT B528US
ELEMENT B578US
ELEMENT B583US
ELEMENT B584US
ELEMENT B712US
ELEMENT B732US
ELEMENT B748US
ELEMENT bchg
ELEMENT echg
ELEMENT jptags
ELEMENT ustags
ELEMENT xxtags

** Changed ST.36 model:

- B009EP added <text> element for multiple language text
- B725EP added <text> element for multiple language text
- B561 and B562 (citation) models changed to simply include <text>
we will include patcit and nplcit when/if possible. This does NOT effect current
practice.

** EPC2000 additions - see above

-->
<!ELEMENT SDOBI  (B000?,B100,B200?,B300?,B400?,B500?,B600?,B700?,B800?,B900?) >

<!ATTLIST SDOBI
               lang  CDATA    #IMPLIED  >

<!--* EBD B000
*********************************
B000 - OFFICE SPECIFIC DATA
*********************************
-->
<!ELEMENT B000  (eptags?) >

<!--
*********************************
EPTAGS
*********************************
The following tags are for the specific use of the EPO - 
and may be changed at the discretion of the EPO.
-->
<!ELEMENT eptags  (B001EP?,B002EP?,B003EP?,B004EP?,B005EP?,B006EP?,B007EP?,B008EP?,
               B009EP?,B010EP?,B012EP?,B015EP?,B020EP?,B021EP?,B030EP?,
               B050EP?,B053EP*,B060EP?,B061EP?,B070EP?,B075EP?,B078EP?,B080EP?,
               B090EP?) >

<!--* EBD B001EP
Select. mask for states involved (lists all designated states for that patent)
Example:
<B001EP>ATBECHDEDKESFRGBGRITLILUNLSEMCPTIESILTLVFIROMKCYALTRBGCZEEHUPLSK..HR............</B001EP>
-->
<!ELEMENT B001EP  (#PCDATA) >

<!--* EBD B002EP
*********************************
* B002EP - CHANGE INFORMATION
*********************************

NOTE: Marking changes in the description, claims etc will be different-->
<!ELEMENT B002EP  (ep-chg-info) >

<!ATTLIST B002EP
               id  ID    #IMPLIED  >

<!ELEMENT ep-chg-info  (ep-chg+) >

<!--ep-chg: Reference to elements where data has changed

- idref = reference to the id ep-chg value
- btag = the actual tag where data has changed eg. B240
- date = date of change
- status = type of change here:
n = new data, inserted data
r = replacement data
d = deleted data

Example:

<B002EP>
<ep-chg-info>
<ep-chg idref="ep-chg0001" btag="B542" date="20041118" status="r"/>
<ep-chg idref="ep-chg0002" btag="B542" date="20041118" status="r"/>
<ep-chg idref="ep-chg0003" btag="B542" date="20041118" status="r"/>
</ep-chg-info>
</B002EP>

In this example the title has been replaced in the three languages:

<B540>
<B541>de</B541>
<B542 id="ep-chg0001">Verfahren zum Aufschäumen eines metallischen Werkstoffes</B542>
<B541>en</B541>
<B542 id="ep-chg0002">Process for foaming metallic articles</B542>
<B541>fr</B541>
<B542 id="ep-chg0003">Procédé pour le moussage d'articles métalliques</B542>
</B540>

ep-chg is recursive to allow for history of changes - changes to changes - possibly to be used
in the EP register; recursion will not be used in the EBD.
-->
<!ELEMENT ep-chg  (ep-chg*) >

<!ATTLIST ep-chg
               idref  IDREF    #REQUIRED 
               btag  CDATA    #REQUIRED 
               date  CDATA    #REQUIRED 
               status  CDATA    #REQUIRED  >

<!--*** End ***
* EBD B003EP
This field contains an '*' (asterisk) for the EURO-PCT applications for which no
A-document has been published by the EPO.
-->
<!ELEMENT B003EP  (#PCDATA) >

<!--* EBD B004EP
Re-establishments of rights indicator

It contains the code of the decision after a request for re-establishment of rights.
The values used by the EPO are:
2 : Request not accepted
3 : Request accepted

Note: Used together with <B238>.
-->
<!ELEMENT B004EP  (#PCDATA) >

<!ATTLIST B004EP
               id  ID    #IMPLIED  >

<!--* EBD B005EP
Producer / Printer id.
-->
<!ELEMENT B005EP  (#PCDATA) >

<!--* EBD B006EP
Indicator for international application
This tag identifies the type of International applications.
The values used by the EPO are:
- 9120 : Entering the European phase
- 9121 : Not Entering the European phase
-->
<!ELEMENT B006EP  (#PCDATA) >

<!ATTLIST B006EP
               id  ID    #IMPLIED  >

<!--* EBD B007EP
Reserved for EPO use: for the internal EPO program version, eg.
DIM360 (Ver 1.5 26 Jan 2004) - 1100000/0
-->
<!ELEMENT B007EP  (#PCDATA) >

<!--* EBD B008EP
Small change indicator
This tag identifies "small changes" which area actually not printed in the EPO
Bulletin such as removing the country code in the postcode. Currently and when
present it contains the value 8.
-->
<!ELEMENT B008EP  (#PCDATA) >

<!--* EBD B009EP
Text from B725EP tag in the three EPO official languages"
This tag will contain the text stored in tag <B725EP> in EPO official languages ie.
German, English and French to print in the EPO Bulletin.
See Tag <B720>.

Example:
<B009EP>
<text>Die Erfinder haben auf ihre Nennung verzichtet</text>
<text>The inventors have agreed to waive their entitlement to designation</text>
<text>Les inventeurs ont renoncé leur désignation</text>
</B009EP>
-->
<!ELEMENT B009EP  (text+) >

<!--If no structure is possible, enter text (without markup)

<!ELEMENT text  (#PCDATA) >  -->

<!--* EBD B010EP
Other rights and legal means of execution
-->
<!ELEMENT B010EP  (B011EP+) >

<!ATTLIST B010EP
               id  ID    #IMPLIED  >

<!--* EBD B011EP
Serial number date and states
-->
<!ELEMENT B011EP  (date,dnum,ctry*) >



<!-- **** EPC2000 - PHASE 3 a)  ****

Grouping tag for
NEW REVOCATION PROCEDURE (ART 105a)

REVR
These memo's used on request for revocation
from proprietor

This new procedure caters for revocation from
the proprietor outside of the opposition procedure.

ep-revocation-procedures
-->
<!ELEMENT B012EP  (B0120EP+) >

<!--
Repeatable tag for procedure info.
ep-revocation-procedure -->

<!ELEMENT B0120EP  (B0121EP?,B0122EP?,B0123EP?,B0124EP?,B0125EP?,B0126EP?,
               B0127EP?)>

<!--
REVR01 Revocation request filed on (date)
ep-revocation-procedure-date  -->

<!ELEMENT B0121EP  (date) >

<!--
REVR02 Kind of revocation
01 = filed during opposition period
02 = filed after  opposition period	

ep-revocation-procedure-kind -->

<!ELEMENT B0122EP  (#PCDATA) >

<!--
REVR03 Decision on revocation request 
01 = Admissible
02 = Inadmissible
03 = Deemed not filed

ep-revocation-procedure-decision -->

<!ELEMENT B0123EP  (#PCDATA) >

<!ATTLIST B0123EP
               id  ID    #IMPLIED  >

<!--
REVR04 Paid on (date)
ep-revocation-procedure-paid -->

<!ELEMENT B0124EP  (date) >

<!--
REVR05 Language
ep-revocation-procedure-lang -->
 
<!ELEMENT B0125EP  (#PCDATA) >

<!--
REVR06 Date of dispatch of the decision 
ep-revocation-date-dispatch
-->
<!ELEMENT B0126EP  (date) >

<!--
REVR07 Date of legal effect 
ep-revocation-legal-effect
-->

<!ELEMENT B0127EP  (date) >

<!ATTLIST B0127EP
               id  ID    #IMPLIED  >


<!--* EBD B015EP
Number of documents to be printed
-->
<!ELEMENT B015EP  (#PCDATA) >

<!--B020EP
Biblio rec. creation
-->
<!ELEMENT B020EP  (#PCDATA) >

<!--B021EP
Biblio. rec. correction
-->
<!ELEMENT B021EP  (#PCDATA) >

<!--B030EP
Legal status data
-->
<!ELEMENT B030EP  (#PCDATA) >

<!--* EBD B050EP
Free text data
Example:
<B050EP>
<B051EP>de</B051EP>
<B052EP>Derzeit sind die WIPO-Publikationsdaten A3 nicht verfügbar.</B052EP>
<B051EP>en</B051EP>
<B052EP>WIPO A3 publication data is not currently available.</B052EP>
<B051EP>fr</B051EP>
<B052EP>L'OMPI données de publication A3 ne sont pas actuellement disponibles.</B052EP>
</B050EP>
-->
<!ELEMENT B050EP  (B051EP,B052EP)+ >

<!ATTLIST B050EP
               id  ID    #IMPLIED  >

<!--* EBD B051EP
Language
-->
<!ELEMENT B051EP  (#PCDATA) >

<!--* EBD B052EP
Free text
-->
<!ELEMENT B052EP  (#PCDATA) >

<!--* EBD B053EP
Free text remarks.
Example:
<B053EP>This application was filed on 28 - 02 - 2002 as a divisional
application to the application mentioned under INID code 62.</B053EP>
-->
<!ELEMENT B053EP  (#PCDATA) >

<!--B060EP
Check data
-->
<!ELEMENT B060EP  (#PCDATA) >

<!--B061EP
Data relating to fees
-->
<!ELEMENT B061EP  (#PCDATA) >

<!--* EBD B070EP
B publication technical field (subsequently filed technical
information)

Example:
<B070EP>The file contains technical information submitted after the
application was filed and not included in this specification</B070EP>
-->
<!ELEMENT B070EP  (#PCDATA) >

<!-- ** EPC2000 - Phase 2

Group tag for (possible) multiple:
PETITION FOR REVIEW

Description: New procedure enabling any
party to appeal proceedings adversely affected
by the decision of the Board of Appeal to file a
petition for review of the decision by the Enlarged
Board of Appeal (EBA)

ep-petition-reviews-->
<!ELEMENT B075EP  (B0750EP+) >

<!-- ** EPC2000 - Phase 2

Repetitive grouping tag for petitons

EPASYS: PREV01
Petition for review number (As we can have multiple petitions
for review)
Comprises a unique number for a given year. Eg R0001/08

ep-petition-review-->

<!ELEMENT B0750EP  (B0751EP?, B0752EP?, B0753EP?,B0755EP?,B0756EP?)>

<!ATTLIST B0750EP
               id              ID     #IMPLIED
               review-number   CDATA  #REQUIRED>


<!-- ** EPC2000 - Phase 2

REFN04 and NOAP0R
ep-petition-review-appeal-number -->

<!ELEMENT B0751EP  (#PCDATA)>

<!-- ** EPC2000 - Phase 2

PREV03
Date of notice of petition (May be included at a later date)

ep-petition-review-date-->
<!ELEMENT B0753EP  (date) >

<!-- ** EPC2000 - Phase 2
PREV02 Petitioner code
Can contain values: OPnn, APPR
from EPASYS

ep-petition-review-petitioner-code -->

<!ELEMENT B0752EP  (#PCDATA)>


<!-- ** EPC2000 - Phase 2

PREV05 Date of Decision

ep-petition-review-decision-date-->
<!ELEMENT B0755EP  (date) >

<!-- ** EPC2000 - Phase 2

PREV06

Kind of decision : R01 to R12
Board with 3 Members
R01:Petition for review obviously inadmissible (not deemed to be filed) 
or simultaneously obviously inadmissible and obviously unsubstantiated.
R02: Petition for review obviously unsubstantiated only.
[R03: free]
Board with 5 Members
R04: Petition for review inadmissible.
R05: Rejection of the petition for review.
R06: Petition for review  allowed and re-opening of the Appeal Procedure  
with total refund of the fee for the petition for review.
R07: Petition for review  allowed and re-opening of the Appeal Procedure  
with partial refund of the fee for the petition for review.
[R08: free]
Board with 3 or 5 Members
R09: Withdrawal of the petition for review.
R10: Petition for review deemed to be withdrawn.
R11: other kind of disposal.
[R12: free]

ep-petition-review-kind-->

<!ELEMENT B0756EP  (#PCDATA)>


<!--* EBD B078EP
Date of 'no oppo. filed'
-->
<!ELEMENT B078EP  (date) >

<!ATTLIST B078EP
               id  ID    #IMPLIED  >

<!--* EBD B080EP
Public notification
Example:
<B080EP>
<B081EP>1</B081EP>
<B082EP><snm>Amato Martinez Garza, Luis Alejandro</snm>
<iid>04469850</iid>
<adr><str>Fernando Montes de Oca 44</str>
<city>Colonia Condesa D.F. 06140</city>
<ctry>MX</ctry></adr>
</B082EP>
<B083EP>NOTING OF LOSS OF RIGHTS PURSUANT TO RULE 69(1) EPC</B083EP>
</B080EP>
-->
<!ELEMENT B080EP  (B081EP,B082EP,B083EP?) >

<!ATTLIST B080EP
               id  ID    #IMPLIED  >

<!--* EBD B081EP
Inspection place
Code Meaning
1 The Hague
2 Munich
3 Berlin
-->
<!ELEMENT B081EP  (#PCDATA) >

<!--* EBD B082EP
EPO code relation
-->
<!ELEMENT B082EP  (ttl?,fnm?,snm?,sfx?,iid?,irf?,onm?,syn*,oid?,(odv,did)*,adr?,
               dtxt*,rctry?,nctry?) >

<!--* EBD B083EP
Free text
-->
<!ELEMENT B083EP  (#PCDATA) >

<!-- ** EPC2000 - PHASE 2 and 3

LIMITATION PROCEDURE

Grouping tag for different combined events

ep-limitation-procedures
-->
<!ELEMENT B090EP  (B0900EP+) >

<!--** EPC2000 - PHASE 2

Grouping tag for different events with limitation sequence number ="1"

ep-limitation-procedure  -->
<!ELEMENT B0900EP  (B091EP+, B092EP?,B093EP?)>

<!ATTLIST B0900EP
               limitation-sequence  CDATA    #REQUIRED 
               id  ID    #IMPLIED 
               lang  CDATA    #IMPLIED 
               begin-date  CDATA    #IMPLIED 
               end-date  CDATA    #IMPLIED  >

<!-- ** EPC2000 - PHASE 2

LIMP01 Date of filing <B0911EP><date>
LIMP02 Limitation kind (01,02) <B0912EP>
LIMP03 Decision code (01- 05) <B0913EP><text>
LIMP04 Date of payment <B0914EP><date>

ep-limitation-filing
-->
<!ELEMENT B091EP  (B0911EP,B0912EP?,B0913EP?,B0914EP?) >

<!ATTLIST B091EP
               id  ID    #IMPLIED  >

<!--LIMP01 Filed on (date)

ep-limitation-filing-date-->
<!ELEMENT B0911EP  (date) >

<!-- ** EPC2000 - Phase 2

LIMP02 Limitation kind:
01 = filed during opposition period (9 months)
02 = filed after opposition period (9 months)

ep-limitation-kind-->
<!ELEMENT B0912EP  (#PCDATA) >

<!-- ** EPC2000 - Phase 2

LIMP03 Decision code:
01 = admissible
02 = inadmissible
03 = deemed not filed
04 = deemed not filed, opposition pending/filed
05 = withdrawn

ep-limitation-filing-decision-->
<!ELEMENT B0913EP  (#PCDATA) >

<!-- ** EPC2000 - Phase 2

LIMP04 Date of payment

ep-limitation-payment-date-->
<!ELEMENT B0914EP  (date) >

<!-- **** EPC2000 - PHASE 3 a)  **** 

REJECTION OF LIMITATION FIELDS

ep-limitation-rejection -->

<!ELEMENT B092EP  (B0921EP,B0922EP,B0923EP?,B0924EP?) >

<!ATTLIST B092EP
               id  ID    #IMPLIED  >

<!--
REJL01 Kind of rejection:
01 = substantive refusal
02 = inadmissible for formal reasons (R.94)
03 = no (late) reply to subset report
04 = RALL (request allowed) requirements not fulfilled

ep-limitation-rejection-kind -->
<!ELEMENT B0921EP  (#PCDATA) >

<!--
REJL02 Decision dispatched on (date) 

ep-limitation-rejection-dispatch-date-->
<!ELEMENT B0922EP  (date) >

<!--
REJL03 Legal effect on (date) 
ep-limitation-rejection-legal-date -->

<!ELEMENT B0923EP  (date) >

<!--  ** NOT used 
REJL04 Legal effect bulletin issue number

ep-limitation-rejection-bulletin-number -->
<!ELEMENT B0924EP  (bnum) >


<!--  **** EPC2000 - PHASE 3 a)  **** 

LIMITATION REQUEST ALLOWED

ep-limitation-allowed -->
<!ELEMENT B093EP  (B0931EP,B0932EP?,B0933EP?) >

<!ATTLIST B093EP
               id  ID    #IMPLIED  >

<!--
RALL01 Dispatched on (date)

ep-limitation-allowed-dispatch-date -->
<!ELEMENT B0931EP  (date) >

<!--

RALL02 Translation received on (date)

ep-limitation-allowed-trans-date -->
<!ELEMENT B0932EP  (date) >

<!--
RALL03 Full payment received on (date)

ep-limitation-allowed-payment-date -->
<!ELEMENT B0933EP  (date) >

<!--* EBD B100
*********************************
* B100 - DOCUMENT IDENTIFICATION
*********************************
WIPO ST.9: INID: (10) Identification of the patent, SPC or patent document
-->
<!ELEMENT B100  (B110,B120?,B130,B131EP?,B132EP?,B133EP?,B140,B150?,B190,B195?) >

<!--* EBD B110
WIPO ST.9: INID: (11) Number of the patent, SPC or patent document
Doc. number REQUIRED EPO and PCT publication number
-->
<!ELEMENT B110  (#PCDATA) >

<!ATTLIST B110
               id  ID    #IMPLIED  >

<!--* EBD B120
WIPO ST.9: INID: (12) Plain language designation of the kind of document
B120 used as a groupimg tag
-->
<!ELEMENT B120  (B121,B121EP?) >

<!--* EBD B121
Plain lang. designation,
Example: <B120><B121>EUROPEAN PATENT SPECIFICATION</B121></B120>
-->
<!ELEMENT B121  (#PCDATA) >

<!--* EBD B121EP
Any Descriptive text for B121 (EPO); this is normally as follows:
Examples:
<B120>
<B121>EUROPEAN PATENT APPLICATION</B121>
<B121EP>published in accordance with Art. 158(3) EPC</B121EP>
</B120>

or

<B121>EUROPEAN PATENT APPLICATION</B121>
<B121EP>published in accordance with Art. 153(4) EPC</B121EP>

or

<B121>NEW EUROPEAN PATENT SPECIFICATION</B121>
<B121EP>After limitation procedure (B3-1)</B121EP>	

-->
<!ELEMENT B121EP  (#PCDATA) >

<!--* EBD B130
WIPO ST.9: INID: (13) Kind-of-document code according to WIPO Standard ST.16

REQUIRED

The values used by the EPO are:
A1 Application published with search report
A2 Application published without search report
A3 Separate publication of the search report
A8 Correction - reprint of the title page of an A-document
A9 Correction - complete reprint of an A-document
B1 Granted patent
B2 Amended patent
B8 Correction - reprint of the title page of a B-document
B9 Correction - complete reprint of a B-document
-->
<!ELEMENT B130  (#PCDATA) >

<!ATTLIST B130
               id  ID    #IMPLIED  >

<!--Ext. kind of doc. code (EPO)
-->
<!ELEMENT B131EP  (#PCDATA) >

<!--* EBD B132EP
Original kind code used eg. when there is a <B130>A9</B130>

EPC2000 Phase 3 b)

sequence attribute added-->
<!ELEMENT B132EP  (#PCDATA) >

<!ATTLIST B132EP
               sequence  CDATA    #IMPLIED  >

<!--* EBD B133EP
New kind code
-->
<!ELEMENT B133EP  (#PCDATA) >

<!--* EBD B140
Doc. date (publication or issue)
REQUIRED
-->
<!ELEMENT B140  (date) >

<!--* EBD B150
WIPO ST.9: INID: (15) Patent correction information
See also. WIPO ST.50
Example:
<B150>
<B151>W1</B151>
<B155>
<B1551>de</B1551>
<B1552>Beschreibung</B1552>
<B1551>en</B1551>
<B1552>Description</B1552>
<B1551>fr</B1551>
<B1552>Description</B1552>
</B155>
</B150>
-->
<!ELEMENT B150  (B151?,B152?,B153?,B154?,B155?) >

<!--* EBD B151
Supplementary correction code
The values used by the EPO are:
- DL - Deletion (cancellation) of a previously announced correction
- YF - Replacement of electronic file (no reprint will be
made, only electronic data is changed)
- Wn - Reprint required - n = the Nth reprint.
-->
<!ELEMENT B151  (#PCDATA) >

<!--* EBD B152
Issue date of announced correction being cancelled.
-->
<!ELEMENT B152  (date) >

<!--* EBD B153
INID Codes affected
-->
<!ELEMENT B153  (#PCDATA) >

<!--* EBD B154
Standard notes
Example:
<B154>
<B1541>de</B1541>
<B1542>Gesamtes Dokument ersetzt</B1542>
<B1541>en</B1541>
<B1542>Entire document replaced</B1542>
<B1541>fr</B1541>
<B1542>Document entièrement remplacé</B1542>
</B154>
-->
<!ELEMENT B154  (B1541,B1542)+ >

<!--* EBD B1541
Note language
-->
<!ELEMENT B1541  (#PCDATA) >

<!--* EBD B142
Note text
-->
<!ELEMENT B1542  (#PCDATA) >

<!--* EBD B155
Affected parts of the document
-->
<!ELEMENT B155  (B1551,B1552)+ >

<!--* EBD B1551
Part language
-->
<!ELEMENT B1551  (#PCDATA) >

<!--* EBD B1552
Part text
-->
<!ELEMENT B1552  (#PCDATA) >

<!--* EBD B190
WIPO ST.9: INID: (19) WIPO Standard ST.3 code, or other identification, of the office
or organization publishing the document

REQUIRED

Country or organisation which actually publishes the document.
The values used by EPO are:
- EP European Patent Office.
- WO WIPO
-->
<!ELEMENT B190  (#PCDATA) >

<!--Source furnishing record
-->
<!ELEMENT B195  (#PCDATA) >

<!--* EBD B200
*********************************
* B200
*********************************
WIPO ST.9: INID: (20) Data concerning the application for a patent
Used as a grouping tag
-->
<!ELEMENT B200  (B210,B210EP?,B211EP?,B220,B225?,B230?,B240?,B250?,B250EP?,B251EP?,
               B260?,B270?) >

<!--* EBD B210
WIPO ST.9: INID: (21) Number(s) assigned to the application(s),
The application number
REQUIRED
-->
<!ELEMENT B210  (#PCDATA) >

<!--Application number in unstandardised form (EPO)
-->
<!ELEMENT B210EP  (#PCDATA) >

<!--Application number in EPOQUE format e.g. SE19960003073D-->
<!ELEMENT B211EP  (#PCDATA) >

<!--* EBD B220
WIPO ST.9: INID: (22) Date(s) of filing the application(s)
Application filing date
REQUIRED
-->
<!ELEMENT B220  (date) >

<!ATTLIST B220
               id  ID    #IMPLIED  >

<!--Receiving office data
-->
<!ELEMENT B225  (dnum,date?,(ttl?,fnm?,snm?,sfx?,iid?,irf?,onm?,syn*,oid?,(odv,did)*),
               adr?,dtxt*,rctry?,nctry?) >

<!--* EBD B230
*********************************
* B230 - OTHER DATES
*********************************

WIPO ST.9: INID: (23) Other date(s), including date of filing complete specification
following provisional specification and date ofexhibition

Grouping tag
-->
<!ELEMENT B230  (B231?,B232?,B233?,B234?,B235?,B236?,B237?,B238EP?,B238?,B239?) >

<!--Other Dates Exhibition fili
-->
<!ELEMENT B231  (date) >

<!--Complete spec. fil. Date
-->
<!ELEMENT B232  (date) >

<!--Receipt Date nat. office
-->
<!ELEMENT B233  (date) >

<!--Receipt Date nat. office
-->
<!ELEMENT B234  (date) >

<!--* EBD B235
Date of refusal of application
-->
<!ELEMENT B235  (date) >

<!ATTLIST B235
               id  ID    #IMPLIED  >

<!--* EBD B236
Date of withdrawal of application
-->
<!ELEMENT B236  (date) >

<!ATTLIST B236
               id  ID    #IMPLIED  >

<!--* EBD B237
Date of application deemed withdrawn
-->
<!ELEMENT B237  (date) >

<!ATTLIST B237
               id  ID    #IMPLIED  >

<!--* EBD B238EP
Date of receipt of request for restablishment of rights
-->
<!ELEMENT B238EP  (date) >

<!ATTLIST B238EP
               id  ID    #IMPLIED  >

<!--* EBD B238
Date of decision for re-establishment of rights
-->
<!ELEMENT B238  (date) >

<!ATTLIST B238
               id  ID    #IMPLIED  >

<!--* EBD B239
Date of revocation
-->
<!ELEMENT B239  (date) >

<!ATTLIST B239
               id  ID    #IMPLIED  >

<!--* EBD B240
*********************************
* B240
*********************************
WIPO ST.9: INID: (24) Date from which industrial property rights may have effect

Grouping tag
-->
<!ELEMENT B240  (B241?,B242?,B243?,B244?,B245?,B245EP?,B246?,B248?) >

<!--* EBD B241
Date of request for examination
-->
<!ELEMENT B241  (date) >

<!ATTLIST B241
               id  ID    #IMPLIED  >

<!--* EBD B242
Date of despatch of 1st. exam. report
-->
<!ELEMENT B242  (date) >

<!ATTLIST B242
               id  ID    #IMPLIED  >

<!--* EBD B243
Date of 'patent maintained as amended'
-->
<!ELEMENT B243  (date) >

<!ATTLIST B243
               id  ID    #IMPLIED  >

<!--* EBD B244
Request for conversion to natl. appl.
-->
<!ELEMENT B244  (date,ctry+) >

<!ATTLIST B244
               id  ID    #IMPLIED  >

<!--* EBD B245
Date of suspension (Rule 13) / interruption (Rule 90) of proceedings
-->
<!ELEMENT B245  (date) >

<!ATTLIST B245
               id  ID    #IMPLIED  >

<!--* EBD B245EP
Indicates the type of suspension or Interruption.

The values used by EPO are, according to EPC rules,:
- 1 Suspension (Rule 14)
- 2 Applicant died (Rule 142(1)(a))
- 3 Legal incapacity of applicant (Rule 142(1)(a))
- 4 Legal prevention (Rule 142(1)(b))
- 5 Representative died (Rule 142(1)(c))
- 6 Legal incapacity of representative (Rule 142(1)(c))
- 7 Bankruptcy of the file representative (Rule 142(1)c)
-->
<!ELEMENT B245EP  (#PCDATA) >

<!ATTLIST B245EP
               id  ID    #IMPLIED  >

<!--* EBD B246
Date of resumption of proceedings
-->
<!ELEMENT B246  (date) >

<!ATTLIST B246
               id  ID    #IMPLIED  >

<!--Date of notification rights after appeal
-->
<!ELEMENT B248  (date) >

<!--* EBD B250
*********************************
* B250
*********************************
WIPO ST.9: INID: (25) Language in which the published application
was originally filed
-->
<!ELEMENT B250  (#PCDATA) >

<!ATTLIST B250
               id  ID    #IMPLIED  >

<!--Admissable non-EPO language (EPO)
-->
<!ELEMENT B250EP  (#PCDATA) >

<!--* EBD B251EP
Procedure language (EPO)
-->
<!ELEMENT B251EP  (#PCDATA) >

<!ATTLIST B251EP
               id  ID    #IMPLIED  >

<!--* EBD B260
*********************************
* B260
*********************************
WIPO ST.9: INID: (26) Language in which the application is published

-->
<!ELEMENT B260  (#PCDATA) >

<!ATTLIST B260
               id  ID    #IMPLIED  >
               
               
<!-- ** EPC2000 - PHASE 3 a)

*********************************
* B270
*********************************
WIPO ST.9 INID code (27) - 

Previously filed application

This relates to new INID code (27) under WIPO ST.9; where the provisional wording is:

Reference to a previously filed application for the purposes of 
obtaining a filing date under the Patent Law Treaty (PLT) Article 5(7).

Same details may also appear in priority (INID code 30)
if the earlier application is used as priority.

New MEMO's: (EPASYS)
EAPP01 Earlier application number (dnum)
EAPP02 Date of filing of above (date)
EAPP03 Filing office of above (ctry)

<previously-filed-application>   
-->
<!ELEMENT B270  (dnum,date,ctry,kind?,dtxt*) >

<!ATTLIST B270
               id  ID    #IMPLIED  >
               


<!--* EBD B300
*********************************
* B300 - FOREIGN PRIORITY DATA
*********************************
WIPO ST.9: INID: (30) Data relating to priority under the Paris Convention
Grouping tag
Example:
<B300>
<B310>150799</B310>
<B320><date>19990106</date></B320>
<B330><ctry>JP</ctry></B330>
</B300>
-->
<!ELEMENT B300  ((B310,B310EP?,B311EP?,B320,B330,B340?)*,(B345?,B345EP?)*) >

<!ATTLIST B300
               id  ID    #IMPLIED  >

<!--* EBD B310
WIPO ST.9: INID: (31) Number(s) assigned to priority application(s)
-->
<!ELEMENT B310  (#PCDATA) >

<!--Priority appli. number in unstandardised form (EPO)
-->
<!ELEMENT B310EP  (#PCDATA) >

<!--Priority application number in EPOQUE format e.g. AU19790053732
-->
<!ELEMENT B311EP  (#PCDATA) >

<!--* EBD B320
WIPO ST.9: INID: (32) Date(s) of filing of priority application(s).
-->
<!ELEMENT B320  (date) >

<!--* EBD B320
WIPO ST.9: INID: (33) WIPO Standard ST.3 code identifying the national
industrial property office allotting the priority
application number or the organization allotting the regional
priority application number; for international
applications filed under the PCT, the code "WO" is to be used
-->
<!ELEMENT B330  (ctry) >

<!--WIPO ST.9: INID: (34) For priority filings under regional or international
arrangements, the WIPO Standard ST.3 code identifying
at least one country party to the Paris Convention for which
the regional or international application was made
-->
<!ELEMENT B340  (ctry) >

<!--Patent family info.
-->
<!ELEMENT B345  (dnum?,date?,ctry?,kind?,bnum?,dtxt*) >

<!--Document kind code; e.g., A1
(INID 13, ST.32:B130)

<!ELEMENT kind  (#PCDATA) >-->

<!--INPADOC pat.family info. (EPO)
-->
<!ELEMENT B345EP  (dnum?,date?,ctry?,kind?,bnum?,dtxt*) >

<!--* EBD 400
*********************************
* B400 - DATE(S) OF MAKING
* AVAILABLE TO THE PUBLIC
*********************************
WIPO ST.9: INID: (40) Date(s) of making available to the public

Grouping tag
-->
<!ELEMENT B400  (B405?,B410?,B420?,B430?,B440?,B450?,B451EP?,B452EP?,B453EP?,B460?,
               B470?,B472?,B476?,B477?,B480?) >

<!--* EBD 405
Pat. bull./gaz. info.
Example:
<B405><date>20050105</date><bnum>200501</bnum></B405>
-->
<!ELEMENT B405  (dnum?,date?,ctry?,kind?,bnum?,dtxt*) >

<!--WIPO ST.9: INID: (41) Date of making available to the public
by viewing, or copying on request, an unexamined patent
document, on which no grant has taken place on or before
the said date
-->
<!ELEMENT B410  (dnum?,date?,ctry?,kind?,bnum?,dtxt*) >

<!--WIPO ST.9: INID: (42) Date of making available to the public by viewing,
or copying on request, an examined patent document,
on which no grant has taken place on or before the said date
-->
<!ELEMENT B420  (dnum?,date?,ctry?,kind?,bnum?,dtxt*) >

<!--* EBD B430
WIPO ST.9: INID: (43) Date of making available to the public
by printing or similar process of an unexamined patent document,
on which no grant has taken place on or before the said date
-->
<!ELEMENT B430  (dnum?,date?,ctry?,kind?,bnum?,dtxt*) >

<!ATTLIST B430
               id  ID    #IMPLIED  >

<!--WIPO ST.9: INID: (44) Date of making available to the public by
printing or similar process of an examined patent document, on
which no grant or only a provisional grant has taken place on or
before the said date
-->
<!ELEMENT B440  (dnum?,date?,ctry?,kind?,bnum?,dtxt*) >

<!--* EBD B450
WIPO ST.9: INID: (45) Date of making available to the public by
printing or similar process of a patent document on which grant
has taken place on or before the said date

EPO usage: B documents; includes Bulletin number

Example:
<B450>
<date>20020724</date>
<bnum>200230</bnum>
</B450>
-->
<!ELEMENT B450  (dnum?,date?,ctry?,kind?,bnum?,dtxt*) >

<!ATTLIST B450
               id  ID    #IMPLIED  >

<!--* EBD B451EP
Date of announcement of intention to grant without preceding Examination report..
(Communication pursuant to Rule 51(4) EPC)
-->
<!ELEMENT B451EP  (date) >

<!ATTLIST B451EP
               id  ID    #IMPLIED  >

<!--* EBD B452EP
Date of intention to grant
-->
<!ELEMENT B452EP  (date) >

<!ATTLIST B452EP
               id  ID    #IMPLIED  >


<!-- **** EPC2000 - PHASE 3 b)  ****

Under INID code:
(45)  Date of publication and mention of the limitation decision:


ep-limitation-decisions 
-->
<!ELEMENT B453EP  (B4530EP+) >

<!-- 
kind code,  date,  Bulletin number
attribute: eg. sequence="1"
 ep-limitation-decision
 -->
 
<!ELEMENT B4530EP  (kind,date,bnum) >
<!ATTLIST B4530EP
      		id  ID    #IMPLIED  
               sequence  CDATA    #IMPLIED 
               limitation-sequence  CDATA    #IMPLIED  >


<!-- WIPO ST.9: INID: (46) Date of making available to the public the claim(s) only of a patent document
-->
<!ELEMENT B460  (dnum?,date?,ctry?,kind?,bnum?,dtxt*) >

<!--WIPO ST.9: INID: (47) Date of making available to the public
by viewing, or copying on request, a patent document on which
grant has taken place on or before the said date.
-->
<!ELEMENT B470  (dnum?,date?,ctry?,kind?,bnum?,dtxt*) >

<!--* EBD B472
Term of grant
Example:
<B472>
<B475>
<date>20040425</date><ctry>ES</ctry><date>20040114</date>
<ctry>FI</ctry><date>20040114</date><ctry>GB</ctry><date>20040414</date>
<ctry>GR</ctry><date>20040414</date><ctry>SE</ctry>
</B475>
</B472>
-->
<!ELEMENT B472  (B473?,B474?,B475?) >

<!--Disclaimer date
-->
<!ELEMENT B473  (date) >

<!--Term of grant
-->
<!ELEMENT B474  (#PCDATA) >

<!--* EBD B475
Lapse of patent
See B472 for example
-->
<!ELEMENT B475  (dnum?,date?,ctry?,kind?,bnum?,dtxt*)+ >

<!ATTLIST B475
               id  ID    #IMPLIED  >

<!--Invalidation of patent
-->
<!ELEMENT B476  (dnum?,date?,ctry?,kind?,bnum?,dtxt*) >

<!--* EBD B477
Document printed as amended, third level of publication (e.g.
EPO 'B2')
Date of publication (B2) and issue number of the EPO Bulletin in which the mention of
the document printed as amended is published.
Example:
<B477>
<date>20020821</date>
<bnum>200234</bnum>
</B477>
-->
<!ELEMENT B477  (dnum?,date?,ctry?,kind?,bnum?,dtxt*) >

<!ATTLIST B477
               id  ID    #IMPLIED  >

<!--* EBD B480
WIPO ST.9: INID: (48) Date of issuance of a corrected patent document
-->
<!ELEMENT B480  (date?,bnum?) >

<!--* EBD B500
*********************************
* B500 TECHNICAL INFORMATION
*********************************
WIPO ST.9: INID: (50) Technical information

-->
<!ELEMENT B500  (B510?,B510EP?,B520*,B530?,B540?,B550?,B560?,B570?,B580?,B590?,
               B599EP?) >

<!--* EBD B510
*********************************
* B510 - IPC DATA
*********************************
WIPO ST.9: INID: (51) International Patent Classification or,
in the case of a design patent, as referred to in subparagraph 4(c)
of this Recommendation, International Classification for Industrial Designs

Notes:
- B510 will be used to the end of 2005, week 52 for IPC ed. 7 coding
- From week 1, 2006 B510 will NOT be used in XML files (it will be used in the "old" SGML files
still vailable on the ebd website)
- the new B510EP element will be used (see below).
- Backfile data will NOT be changed to B510EP or to the new IPC 8 because it is
published data in the public domain. In these files B510 will remain of course.
-->
<!ELEMENT B510  (B516?,B511,(B512 | B513 | B514 | B515)*,B517EP?) >

<!ATTLIST B510
               id  ID    #IMPLIED  >

<!--* EBD B516
International Patent Classification Edition, version of IPC
-->
<!ELEMENT B516  (#PCDATA) >

<!--* EBD B511
Main classification
-->
<!ELEMENT B511  (#PCDATA) >

<!--* EBD B512
Further classification
-->
<!ELEMENT B512  (#PCDATA) >

<!--* EBD B513
Additional information
-->
<!ELEMENT B513  (#PCDATA) >

<!--* EBD B514
Linked indexing code
-->
<!ELEMENT B514  (#PCDATA) >

<!--* EBD B515
Unlinked indexing code
-->
<!ELEMENT B515  (#PCDATA) >

<!--* EBD B517EP
Non-obligatory suppl. class. (EPO)
-->
<!ELEMENT B517EP  (#PCDATA) >

<!--*********************************
* B510EP - NEW IPC CODING FOR 2006
*********************************
New coding for ST.8 new version of IPC.
For 2006 onwards
-->
<!ELEMENT B510EP  (classification-ipcr+) >

<!ATTLIST B510EP
               id  ID    #IMPLIED 
               sequence  CDATA    #IMPLIED  >

<!--
*******************************
* IPC DATA - NEW IPC8
*******************************
International Patent Classification (IPC) data;
- to be implemented in 2006
- use B510 for until week 52, 2005
- see: http://www.wipo.int/scit/en/standards/pdf/03-08-01.pdf:

Industrial property offices are asked to implement this new version of Standard ST.8 for 
all patent documents with a publication date from January 1, 2006, onwards. For patent 
documents published prior to that date, the previous version of the Standard should 
continue to be used.
. . .
This recording convention provides that symbols of the International Patent 
Classification (IPC) should be
presented on machine-readable records for the exchange of information in 
machine-readable form in a fixed-length field in 50 positions, each part of 
the Int. Cl. symbol being recorded in specific positions and in the manner prescribed.
- this can be recorded within the <text> tag.

Position(s) Content Values

1 Section A-H
2 to 3 Class 01-99
4 Subclass A-Z
5 to 8 Main Group (right aligned) 1-9999, blank
9 Separating character / ("Slash")
10 to 15 Subgroup (left aligned) 00-999999 blank
16 to 19 For future use 4 blanks
20 to 27 Version indicator YYYYMMDD date format
28 Classification level C, A, S
29 First or later position of symbol F, L
30 Classification value (inventive or non-inventive) I, N
31 to 38 Action date YYYYMMDD date format
39 Original or reclassified data BRVD
40 Source of classification data H M G
41-42 Generating office AA ZZ (ST.3)
43-50 For future use 8 blanks

EPO usage:
- we will NOT use the detailed element markup as listed below (it is far too heavy)
- we will use "a fixed-length field in 50 positions" as specified above

EPO layout:
- for the title page to be determined

Example:

<B510EP>
<classification-ipcr sequence="1">
<text>B28B...5/00........20060101AFI20070601BHEP........</text>
</classification-ipcr>
</B510EP>

-->
<!ELEMENT classification-ipcr  ((section,class,subclass,main-group?,subgroup?,
               ipc-version-indicator,classification-level?,symbol-position?,
               classification-value?,action-date?,classification-status?,
               classification-data-source?,generating-office?) | text) >

<!ATTLIST classification-ipcr
               id  ID    #IMPLIED 
               sequence  CDATA    #IMPLIED  >

<!--Positions 1 to 19: Recording of the parts of the IPC symbols
IPC symbols are defined in Part 5 of the WIPO Handbook on
Industrial Property Information and Documentation and in
the latest version of the Guide to the IPC.
-->
<!ELEMENT section  (#PCDATA) >

<!ELEMENT class  (#PCDATA) >

<!ATTLIST class
               class-type  CDATA    #IMPLIED  >

<!ELEMENT subclass  (#PCDATA) >

<!ELEMENT main-group  (#PCDATA) >

<!ELEMENT subgroup  (#PCDATA) >

<!--Positions 20 to 27: Version indicator
Although in the paper publications a version indicator may contain
four or six digits, the version indicator in machinereadable
records contains eight digits, namely YYYYMMDD with Y for year, M for month and D for day.
-->
<!ELEMENT ipc-version-indicator  (date) >

<!--Position 28 : Classification level
Offices are expected to classify each subject matter only in one level (core or advanced). 
However, both levels need to be completely represented in the master classification database 
and thus a level indicator is needed. The level indicator is also useful for indicating 
situations where an office does not classify in either the core or the advanced level
classification, i.e., when an office only assigns classifications to the subclass level. 
The level indicator enables to make the difference between core, advanced and subclass levels. 
The letters C (Core), A (Advanced) and S (Subclass) are
used for this one-digit field.

Levels: ipcr-advanced, ipcr-core
-->
<!ELEMENT classification-level  (#PCDATA) >

<!--Position 29: First or later position of symbols
The position of the first invention information classification
can be recognized by this field. The letters F and L are used
for first and later position, respectively.
-->
<!ELEMENT symbol-position  (#PCDATA) >

<!--Position 30: Classification value (inventive or non-inventive)
The difference between invention information and other information
is important for the retrieval of the information. The
letters I and N are used for the invention and non-invention
information, respectively.
-->
<!ELEMENT classification-value  (#PCDATA) >

<!--Positions 31-38: Action date
The date of assigning the classification symbol (action date)
is represented by eight digits, namely YYYYMMDD. This
date can be used to check if a classification needs to be
reviewed after revision of the scheme, e.g., in case of creating
new subdivisions.
-->
<!ELEMENT action-date  (date) >

<!--Position 39: Original and reclassified data
Original data is the first data assigned to the document.
In case of a publishing office assigning classification symbols at
the core level, another office may also assign symbols at
the advanced level as original data.
Reclassified data is data changed due to a change in the classification schemes.
Various data is data changed due to an incidental reclassification
of an individual document, such as the correction of a mistake.
Deleted data is data which has to be deleted from the
Master Classification Database, due to a change in assigning of
classification symbols to a document.

The indication of the different types of data is marked by the letters B for the basic or original data,
R for reclassified data, V for various incidental changes, and D for data to be deleted.
Possible status: original-classification, reclassified, various-classification, deleted-classification
-->
<!ELEMENT classification-status  (#PCDATA) >

<!--Position 40: Source of classification data
The following sources of classification data are foreseen:
- Intellectual classification by persons,
value H for human generated data.
- Machine classification by the propagation of earlier
intellectual classification through the use of common
priorities in the patent application.
The value M is used in this case and will facilitate later corrections.
- Classification symbols generated by software using automatic
analysis of the content of the patent document.
The letter G is used to indicate this source of generated data.
-->
<!ELEMENT classification-data-source  (#PCDATA) >

<!--Positions 41-42: Generating Office
Since part of the original data in the advanced level and
the reclassified data can be delivered by offices other than the
publishing office, the information source of such data is
recorded by a field of two characters. The country or office
code CC, as defined by WIPO Standard ST.3, must be used.
-->
<!ELEMENT generating-office  (country) >

<!--Country: use ST.3 country code; e.g. DE, FR, GB, NL, etc.
Also includes EP, WO. Always in upper case. For stateless use XA.
-->

<!--*********************************
* B520 to B530 NOT USED BY EPO
*********************************
WIPO ST.9: INID: (52) Domestic or national classification
-->
<!ELEMENT B520  (B527,B526?,B521,(B522 | B523 | B524 | B525)*) >

<!--Country code (ST.3)
-->
<!ELEMENT B527  (#PCDATA) >

<!--Edition, version
-->
<!ELEMENT B526  (#PCDATA) >

<!--Domestic or National classification
Main classification
-->
<!ELEMENT B521  (#PCDATA) >

<!--Further classification
-->
<!ELEMENT B522  (#PCDATA) >

<!--Additional information
-->
<!ELEMENT B523  (#PCDATA) >

<!--Linked indexing code
-->
<!ELEMENT B524  (#PCDATA) >

<!--Unlinked indexing code
-->
<!ELEMENT B525  (#PCDATA) >

<!---->
<!ELEMENT B530  (#PCDATA) >

<!--* EBD B540
*********************************
* B540 - TITLE
*********************************
WIPO ST.9: INID: (54) Title of the invention
-->
<!ELEMENT B540  (B541?,B542,B542EP?)+ >

<!ATTLIST B540
               id  ID    #IMPLIED  >

<!--* EBD B541
Lang. of title (ISO 639)
-->
<!ELEMENT B541  (#PCDATA) >

<!--* EBD B542
Title of invention
-->
<!ELEMENT B542  (#PCDATA) >

<!ATTLIST B542
               id  ID    #IMPLIED  >

<!--Title of invention in original language code.-->
<!ELEMENT B542EP  (#PCDATA) >

<!--Keywords and descriptors
-->
<!ELEMENT B550  (B551?,B552*)* >

<!--Lang. of keywords and descriptors
-->
<!ELEMENT B551  (#PCDATA) >

<!--Keywords and descriptors
-->
<!ELEMENT B552  (#PCDATA) >

<!--* EBD B560
*********************************
* B560 - CITATIONS
*********************************
WIPO ST.9: INID: (56) List of prior art documents, if separate from descriptive text
-->
<!ELEMENT B560  ((B561,B563?,B564*)*,(B562,B563?,B564*)*,B561EP?,B565?,B565EP?,B566?,
               B566EP?,B567?,B568?,B569?) >

<!--* EBD B561
Patent document citation
Model much simplified.
EPO Required usage:

Use this tag for B doc. title page citations only under INID code (56).
We take the data "as is" from EPASYS. In the future it may be tagged closer.

Example:
<B560>
<B561>
<text>FR-A- 2 765 554</text>
</B561>
</B560>
-->
<!ELEMENT B561  (text) >

<!--Category of cited doc office dependent
-->
<!ELEMENT B563  (#PCDATA) >

<!--Claim to which cited doc is relevant
-->
<!ELEMENT B564  (#PCDATA) >

<!--* EBD B562
Non-patent literature (NPL) doc. citation.
EPO Required usage:

Use this tag for B doc title page citations only under INID code (56)
We take the data "as is" from EPASYS. In the future it may be tagged closer.

Examples:
<B562><text>HELLAKER J ET AL: "REAL-TIME TRAVELLER INFORMATION - IN EVERYONE'S POCKET? 
A PILOT TEST USING HAND-PORTABLE GSM TERMINALS" PROCEEDINGS OF THE VEHICLE NAVIGATION AND INFORMATIONS SYSTEMS 
CONFERENCE,US,NEW YORK, IEEE, Bd. -, 12. Oktober 1993 (1993-10-12), Seiten 49-52, XP000448510</text></B562>

<B562><text>R.B. BAARKER: "PROBE MOUNTING FOR NEAR-SURFACE MEASUREMENTS" IBM T
TECHNICAL DISCLOSURE BULLETIN, Bd. 22, Nr. 2, Juli 1979 (1979-07), Seite 481 XP002136032</text></B562>
-->
<!ELEMENT B562  (text) >

<!--Number of copies of citations (EPO)
-->
<!ELEMENT B561EP  (#PCDATA) >

<!--Date of completion of search report
-->
<!ELEMENT B565  (date) >

<!--* EBD B565EP
Date of drawing up suppl.search report (EPO)
-->
<!ELEMENT B565EP  (date) >

<!ATTLIST B565EP
               id  ID    #IMPLIED  >

<!--Date of mailing of search report
-->
<!ELEMENT B566  (date) >

<!--* EBD B566EP
Date of despatch of correction to search report (EPO)
-->
<!ELEMENT B566EP  (date) >

<!ATTLIST B566EP
               id  ID    #IMPLIED  >

<!--Place of search, international search authority
-->
<!ELEMENT B567  ((ttl?,fnm?,snm?,sfx?,iid?,irf?,onm?,syn*,oid?,(odv,did)*),adr?,
               dtxt*,rctry?,nctry?) >

<!--Publ. of search report
-->
<!ELEMENT B568  (dnum?,date?,ctry?,kind?,bnum?,dtxt*) >

<!--Search report examiner
-->
<!ELEMENT B569  (ttl?,fnm?,snm?,sfx?,iid?,irf?,onm?,syn*,oid?,(odv,did)*) >

<!--********************************
* B570 ABSTRACT & CLAIMS DATA
* B570-B582 not used by EPO
********************************
Abstract or claim
EPO usage:

- Use <abstract> or <claims> for this data and NOT B tags. The abstract is printed
on title pages at INID code (57)

-->
<!ELEMENT B570  (B571?,B572?,B575*,B576?,B577) >

<!--Language of abstract (ISO 639)
-->
<!ELEMENT B571  (#PCDATA) >

<!--Abstract doc. info.
-->
<!ELEMENT B572  (dnum?,date?,ctry?,kind?,bnum?,dtxt*) >

<!--Lang. of claims (ISO 639)
-->
<!ELEMENT B575  (#PCDATA) >

<!--Claims doc. info.
-->
<!ELEMENT B576  (dnum?,date?,ctry?,kind?,bnum?,dtxt*) >

<!--Number of claims
-->
<!ELEMENT B577  (#PCDATA) >

<!--*********************************
* Field of search
*********************************


IPC
-->
<!ELEMENT B580  (B581 | B582)* >

<!--IPC
-->
<!ELEMENT B581  (#PCDATA) >

<!--National classification
-->
<!ELEMENT B582  (#PCDATA) >

<!--* EBD B590
Spec. & drawings
-->
<!ELEMENT B590  (B591?,B592?,B595?,B596?,B597?,B598*) >

<!--Lang. of spec. (ISO 639)
-->
<!ELEMENT B591  (#PCDATA) >

<!--Number of text pages
-->
<!ELEMENT B592  (#PCDATA) >

<!--Number of drawing sheets
-->
<!ELEMENT B595  (#PCDATA) >

<!--Number of figures
-->
<!ELEMENT B596  (#PCDATA) >

<!--No. of attached image files
-->
<!ELEMENT B597  (#PCDATA) >

<!--* EBD B598
Figure number on first (title) page
-->
<!ELEMENT B598  (#PCDATA) >

<!--Subsequently filed technical data
-->
<!ELEMENT B599EP  (#PCDATA) >

<!--Subsequently filed technical data

* EBD B600
*********************************
* B600 RELATED PATENTS OR APPLICATIONS
*********************************
WIPO ST.9: INID: (60) References to other legally or procedurally related
domestic or previously domestic patent documents including
unpublished applications therefor
-->
<!ELEMENT B600  (B610 | B620 | B620EP | B630 | B640 | B645 | B650 | B655 | B660 | 
               B665 | B670)* >

<!--* EBD B610
WIPO ST.9: INID: (61) Number and, if possible, filing date of the earlier
application, or number of the earlier publication, or
number of earlier granted patent, inventors certificate, utility model
or the like to which the present patent
document is an addition
-->
<!ELEMENT B610  (parent) >

<!ATTLIST B610
               id  ID    #IMPLIED  >


<!--* EBD B620
WIPO ST.9: INID: (62) Number and, if possible, filing date of the earlier
application from which the present patent document has
been divided up

-->
<!ELEMENT B620  (parent) >

<!ATTLIST B620
               id  ID    #IMPLIED  >

<!--* EBD B620EP
Other types of relationship (EPO)
-->
<!ELEMENT B620EP  (parent | B621EP | B622EP) >

<!ATTLIST B620EP
               id  ID    #IMPLIED  >

<!--Relation for app.no.
-->
<!ELEMENT B621EP  (dnum?,date?,ctry?,kind?,bnum?,dtxt*) >

<!--Relation for pub.no.
-->
<!ELEMENT B622EP  (dnum?,date?,ctry?,kind?,bnum?,dtxt*) >

<!--WIPO ST.9: INID: (63) Number and filing date of the earlier application of which the
present patent document is a continuation

-->
<!ELEMENT B630  (B631 | B632 | B633) >

<!--Continuation
-->
<!ELEMENT B631  (parent) >

<!--Continuation-in-part
-->
<!ELEMENT B632  (parent) >

<!--Continuing reissue
-->
<!ELEMENT B633  (parent) >

<!--WIPO ST.9: INID: (64) Number of the earlier publication which is reissued
-->
<!ELEMENT B640  (parent) >

<!--Reexamination
-->
<!ELEMENT B645  (parent) >

<!--WIPO ST.9: INID: (65) Number of a previously published patent document concerning the same application
-->
<!ELEMENT B650  (parent) >

<!--Document previously published by another country/organisation
-->
<!ELEMENT B655  (parent) >

<!--WIPO ST.9: INID: (66) Number and filing date of the earlier application of
which the present patent document is a substitute, i.e.,
a later application filed after the abandonment of an earlier
application for the same invention
-->
<!ELEMENT B660  (parent) >

<!--Pat. correction info.
-->
<!ELEMENT B665  (B666,B667,B668?) >

<!--Document being corrected
-->
<!ELEMENT B666  (dnum?,date?,ctry?,kind?,bnum?,dtxt*) >

<!--Type of correction
-->
<!ELEMENT B667  (#PCDATA) >

<!--Descriptive text relating to correction
-->
<!ELEMENT B668  (#PCDATA) >

<!--WIPO ST.9: INID: (67) Number and filing date of a patent application,
or number of a granted patent, on which the present utility
model application or registration (or a similar industrial property
right, such as a utility certificate or utility
innovation) is based
-->
<!ELEMENT B670  (parent) >


<!--* EBD B700
*********************************
* B700 PARTIES CONCERNED WITH
* THE DOCUMENT
*********************************
WIPO ST.9: INID: (70) Identification of parties concerned with the patent or SPC
-->
<!ELEMENT B700  (B710?,B720?,B730?,B740?,B745?,B780?,B790?) >

<!--* EBD B710
*********************************
* APPLICANTS
*********************************
WIPO ST.9: INID: (71) Name(s) of applicant(s)
-->
<!ELEMENT B710  (B711+) >

<!ATTLIST B710
               id  ID    #IMPLIED  >

<!--* EBD B711
Applicant name and address
-->
<!ELEMENT B711  ((ttl?,fnm?,snm?,sfx?,iid?,irf?,onm?,syn*,oid?,(odv,did)*),adr?,
               dtxt*,rctry?,nctry?,B711EP?,B713EP?,(B716EP?,B717EP?,B718EP?)*) >

<!--Applicant name and addr. for correspondence (EPO)
-->
<!ELEMENT B711EP  ((ttl?,fnm?,snm?,sfx?,iid?,irf?,onm?,syn*,oid?,(odv,did)*),adr?,
               dtxt*,rctry?,nctry?) >

<!--Applicant Authorisation no. Art.133(3) (EPO)
-->
<!ELEMENT B713EP  (#PCDATA) >

<!--Des. Contr. States for applicant (EPO)
-->
<!ELEMENT B716EP  (ctry+) >

<!--Des. extension states for applicant (EPO)
-->
<!ELEMENT B717EP  (ctry+) >

<!--* EBD B718EP
Effective date for transfer of rights (EPO)
-->
<!ELEMENT B718EP  (date) >

<!ATTLIST B718EP
               id  ID    #IMPLIED  >

<!--* EBD B720
*********************************
* B720 INVENTORS
*********************************
WIPO ST.9: INID: (72) Name(s) of inventor(s) if known to be such
-->
<!ELEMENT B720  (B721+,B721EP?) >

<!ATTLIST B720
               id  ID    #IMPLIED  >

<!--* EBD B721
Inventor name and address
-->
<!ELEMENT B721  ((ttl?,fnm?,snm?,sfx?,iid?,irf?,onm?,syn*,oid?,(odv,did)*),adr?,
               dtxt*,rctry?,nctry?,B724EP?,B725EP?,B726EP?,B727EP?,B728EP?,B729EP?) >

<!--Waiver by the inventor of information pursuant to Rule 17(3), EPC (EPO)
-->
<!ELEMENT B724EP  (#PCDATA) >

<!--* EBD B725EP
The EPO text data stored here can be:

When there is only one inventor and he has agreed to waive his entitlement to
designation
- De "Der Erfinder hat auf seine Nennung verzichtet"
- En "The inventor has agreed to waive his entitlement to designation"
- Fr "L'inventeur a rennoncé à sa désignation"

When there are several inventors and they all have agreed to waive their
entitlement to designation
- De "Die Erfinder haben auf ihre Nennung verzichtet"
- En "The inventors have agreed to waive their entitlement to designation"
- Fr "Les inventeurs ont rennoncé à leur désignation"

When there are several inventors and one of them has agreed to waive his
entitlement to designation
- De "Der andere Erfinder hat auf seine Nennung verzichtet"
- En "The other inventor has agreed to waive his entitlement to designation"
- Fr "L'autre inventeur a rennoncé à sa désignation"

When there are several inventors and some of them have agreed to waive their
entitlement to designation
- De "Die andere Erfinder haben auf ihre Nennung verzichtet"
- En "The other inventors have agreed to waive their entitlement to designation"
- Fr "Les autres inventeurs ont rennoncé à leur désignation"

-->
<!ELEMENT B725EP  (text+) >

<!--Origin of applicant's rights if not inventor: as employee (EPO)
-->
<!ELEMENT B726EP  (#PCDATA) >

<!--Origin of applicant's rights if not inventor: under agreement (EPO)
-->
<!ELEMENT B727EP  (#PCDATA) >

<!--Origin of applicant's rights if not inventor: as co-inventor (EPO)
-->
<!ELEMENT B728EP  (#PCDATA) >

<!--Origin of applicant's rights if not inventor: as successor in title (EPO)
-->
<!ELEMENT B729EP  (#PCDATA) >

<!--Name with all original language characters "respected". Single string with $ separated
multiple values and, optionally, * to indicate surname.
e.g. LARS OLF *LOEFMAN$KENTH *GAMHED$KENNETH *EK-->
<!ELEMENT B721EP  ((ttl?,fnm?,snm?,sfx?,iid?,irf?,onm?,syn*,oid?,(odv,did)*),adr?,
               dtxt*,rctry?,nctry?,B724EP?,B725EP?,B726EP?,B727EP?,B728EP?,B729EP?) >

<!--* EBD B730
*********************************
* B730 GRANTEES
*********************************
WIPO ST.9: INID: (73) Name(s) of grantee(s), holder(s), assignee(s) or owner(s)
-->
<!ELEMENT B730  (B731+) >

<!ATTLIST B730
               id  ID    #IMPLIED  >

<!--* EBD B731
Grantee name and address
-->
<!ELEMENT B731  ((ttl?,fnm?,snm?,sfx?,iid?,irf?,onm?,syn*,oid?,(odv,did)*),adr?,
               dtxt*,rctry?,nctry?,(B736EP?,B737EP?,B738EP?)*) >

<!--Designated states for grantee (EPO)
-->
<!ELEMENT B736EP  (ctry+) >

<!--Designated extension states for grantee (EPO)
-->
<!ELEMENT B737EP  (ctry+) >

<!--* EBD B738EP
Effective date for transfer of rights (EPO)
-->
<!ELEMENT B738EP  (date) >

<!ATTLIST B738EP
               id  ID    #IMPLIED  >

<!--* EBD B740
*********************************
* B740 REPRESENTATIVES
*********************************
WIPO ST.9: INID: (74) Name(s) of attorney(s) or agent(s)
-->
<!ELEMENT B740  (B741+) >

<!ATTLIST B740
               id  ID    #IMPLIED  >

<!--* EBD B741
Attorney name and address
-->
<!ELEMENT B741  ((ttl?,fnm?,snm?,sfx?,iid?,irf?,onm?,syn*,oid?,(odv,did)*),adr?,
               dtxt*,rctry?,nctry?,B742EP?) >

<!--General AUTHOR. no. (EPO)
-->
<!ELEMENT B742EP  (#PCDATA) >

<!--*********************************
* Persons acting upon the document
*********************************
-->
<!ELEMENT B745  (B746,B747*) >

<!--Primary examiner name
-->
<!ELEMENT B746  (ttl?,fnm?,snm?,sfx?,iid?,irf?,onm?,syn*,oid?,(odv,did)*) >

<!--Assistant examiner name
-->
<!ELEMENT B747  (ttl?,fnm?,snm?,sfx?,iid?,irf?,onm?,syn*,oid?,(odv,did)*) >

<!--* EBD B780
*********************************
* B780 OPPOSITION DATA
*********************************
-->
<!ELEMENT B780  (B781*,(B787 | B788 | B789)?) >

<!--* EBD B781
Opponent data
EPO usage:
<B781>Opponent data
<dnum><text>Serial number of the opposition
<date>Date of opposition
Date of receipt for 'filed' and 'admissible' oppositions
Date of legal effect for 'inadmissible' and 'deemed not to be filed' oppositions
<kind>Kind code of the result from the examination on admissibility.
Code Meaning
0 Opposition filed
1 Admissible opposition
2 Inadmissible opposition
3 Deemed not to be filed
4 Opposition withdrawn
5 Intervention Art. 105 EPC
6 Intervention admissible
7 Intervention inadmissible
8 Intervention deemed not to be filed
9 Intervention withdrawn
<snm>Name
<iid>EPO number of the Opponent

Example:

<B781>
<dnum><text>01</text></dnum>
<date>20040726</date>
<kind>1</kind>
<snm>SIMEM S.R.L.</snm>
<iid>00166150</iid>
<adr>
<str>Via Ronchi, 44 -</str>
<city>37046 MINERBE (Verona)</city>
<ctry>IT</ctry>
</adr>
<B784>
<snm>Gatti, Enrico</snm>
<iid>00135662</iid>
<adr>
<str>Via E. Zambianchi, 3</str>
<city>24121 Bergamo</city>
<ctry>IT</ctry>
</adr>
</B784>
</B781>
-->
<!ELEMENT B781  ((dnum,date,kind),((ttl?,fnm?,snm?,sfx?,iid?,irf?,onm?,syn*,oid?,(
               odv,did)*),adr?,dtxt*,rctry?,nctry?),B784?,(B785 | B786)?) >

<!ATTLIST B781
               id  ID    #IMPLIED  >

<!--* EBD B784
Attorney or agent info.
-->
<!ELEMENT B784  ((ttl?,fnm?,snm?,sfx?,iid?,irf?,onm?,syn*,oid?,(odv,did)*),adr?,
               dtxt*,rctry?,nctry?) >

<!--Oppo. deemed not to have been filed
-->
<!ELEMENT B785  (date) >

<!--Opposition inadmissable
-->
<!ELEMENT B786  (date) >

<!--* EBD B787
Date of reject. of oppo.
-->
<!ELEMENT B787  (date) >

<!ATTLIST B787
               id  ID    #IMPLIED  >

<!--* EBD B788
Date of term. of oppo.
-->
<!ELEMENT B788  (date) >

<!ATTLIST B788
               id  ID    #IMPLIED  >

<!--No opposition filed
-->
<!ELEMENT B789  (#PCDATA) >

<!--* EBD B790
*********************************
* B790 LICENCE DATA
*********************************
EPO usage:
<B790>
<B791>
<dnum><text>Serial number of the licence
<date>Date of legal effect of the licence
<kind>Kind of licence
<snm>Name
<iid>EPO number of the Licensee
...
<B796>Designated states concerned
<ctry>Country code

Example:
<B790>
<B791>
<dnum><text>0100</text></dnum><date>20040225</date><kind>E</kind>
<snm>Environmental Minerals (UK) LTD</snm>
<iid>00009110</iid>
<adr>
<str>Cambridge House 21, High Street</str>
<city>Linton, Cambs. CB1 6HS</city>
<ctry>GB</ctry>
</adr>
<B796><ctry>AT</ctry><ctry>BE</ctry><ctry>CH</ctry><ctry>CY</ctry>
</B796>
</B791>
</B790>
-->
<!ELEMENT B790  (B791*) >

<!ATTLIST B790
               id  ID    #IMPLIED  >

<!--* EBD B791
Licence data, name and address
-->
<!ELEMENT B791  ((dnum,date,kind?),((ttl?,fnm?,snm?,sfx?,iid?,irf?,onm?,syn*,oid?,(
               odv,did)*),adr?,dtxt*,rctry?,nctry?),(B794?,B796?)) >

<!--Attorney or agent info.
-->
<!ELEMENT B794  ((ttl?,fnm?,snm?,sfx?,iid?,irf?,onm?,syn*,oid?,(odv,did)*),adr?,
               dtxt*,rctry?,nctry?) >

<!--* EBD B796
Design. ctry for license
-->
<!ELEMENT B796  (ctry+) >

<!--* EBD B800
*********************************
* B800 DATA RELATED TO INTERNATIONAL
* CONVENTIONS
*********************************
WIPO ST.9: INID: (80) (90) Identification of data related to International
Conventions other than the Paris Convention, and to
legislation with respect to SPCs
-->
<!ELEMENT B800  (B810?,B820?,B830?,B840?,B844EP?,B850?,B860?,B870?,B880?,B890?)+ >

<!--WIPO ST.9: INID: (81) Designated State(s) according to the PCT
-->
<!ELEMENT B810  (ctry+) >

<!--PCT elected states
-->
<!ELEMENT B820  (ctry+) >

<!--* EBD B830
WIPO ST.9: INID: (83) Information concerning the deposit of microorganisms,
e.g., under the Budapest Treaty

Example under ep-patent-document-v1-3 or older:
Pre-EPC 2000
<B830>
<B831>Declaration under Rule 28(4) EPC (expert solution)</B831>
</B830>
Post EPC 2000
<B830>
<B831>Declaration under Rule 32(1) EPC (expert solution)</B831>
</B830>

  TO DO: check usage and update B83? tags together with bio-deposit

-->
<!ELEMENT B830  (B831,B832?,B833?) >

<!--* EBD B831
Depository institution name
EP: Declaration statement instead.
-->
<!ELEMENT B831  (#PCDATA) >

<!-- * EBD B832
Deposit file number
-->
<!ELEMENT B832  (#PCDATA) >

<!-- * EBD B833
Date of deposit
-->
<!ELEMENT B833  (date) >

<!--* EBD 840
WIPO ST.9: INID: (84) Designated Contracting States under regional patent conventions
-->
<!ELEMENT B840  (ctry+) >

<!ATTLIST B840
               id  ID    #IMPLIED  >

<!--* EBD 844EP
States to which the patent is extended (EPO)

EPO usage:
<B844EP> States to which the application/patent is extended
<B845EP> Extended state data
<ctry> Country code
<date> Payment date
<B846EP> Date of withdrawal

Example:
<B844EP>
<B845EP>
<ctry>RO</ctry>
<date>20010509</date>
</B845EP>
<B845EP>
<ctry>SI</ctry>
<date>20010509</date>
</B845EP>
</B844EP>
-->
<!ELEMENT B844EP  (B845EP+) >

<!ATTLIST B844EP
               id  ID    #IMPLIED  >

<!--Extended state data (EPO)
-->
<!ELEMENT B845EP  (ctry,date?,B846EP?) >

<!--* EBD 846EP
End date (withdrawal)
-->
<!ELEMENT B846EP  (date) >

<!--WIPO ST.9: INID: (85) Date of commencement of the national phase pursuant
to PCT Article 23(1) or 40(1)
-->
<!ELEMENT B850  (date) >

<!--* EBD 860
WIPO ST.9: INID: (86) Filing data of the PCT international application, i.e., international
filing date, international application
number, and, optionally, the language in which the published international
application was originally filed;
or, in the case of design patents, registration data of the Hague
Agreement international application, i.e.,
international registration date and international registration number
-->
<!ELEMENT B860  (B861,B862?,B863?,B864?) >

<!ATTLIST B860
               id  ID    #IMPLIED  >

<!--* EBD 861
Document identification
-->
<!ELEMENT B861  (dnum?,date?,ctry?,kind?,bnum?,dtxt*) >

<!--* EBD 862
Filing language (ISO 639)
-->
<!ELEMENT B862  (#PCDATA) >

<!--PCT section 371 date
-->
<!ELEMENT B863  (date) >

<!--PCT section 102(e) date
-->
<!ELEMENT B864  (date) >

<!--* EBD 870
WIPO ST.9: INID: (87) Publication data of the PCT international application, i.e.,
international publication date, international
publication number, and, optionally, the language in which
the international application is published

Example:
<B870>
<B871>
<dnum><pnum>WO2000040576</pnum></dnum>
<date>20000713</date>
<bnum>200028</bnum>
</B871>
</B870>
-->
<!ELEMENT B870  (B871,B872?) >

<!ATTLIST B870
               id  ID    #IMPLIED  >

<!--* EBD 871
Document identification
-->
<!ELEMENT B871  (dnum?,date?,ctry?,kind?,bnum?,dtxt*) >

<!--PCT pub. lang. (ISO 639)
-->
<!ELEMENT B872  (#PCDATA) >

<!--* EBD 880
WIPO ST.9: INID: (88) Date of deferred publication of the search report
INID (88) on A3 docs.
Print: date and bulletin number - bnum.
-->
<!ELEMENT B880  (dnum?,date?,ctry?,kind?,bnum?,dtxt*) >

<!ATTLIST B880
               id  ID    #IMPLIED  >

<!--CMEA agreement
-->
<!ELEMENT B890  (B891,B892?) >

<!--Havana Agreement doc.id.
-->
<!ELEMENT B891  (dnum?,date?,ctry?,kind?,bnum?,dtxt*) >

<!--Havana Agreement date property rights
-->
<!ELEMENT B892  (date) >

<!--Miscellaneous
-->
<!ELEMENT B900  (B910?) >

<!--WIPO ST.9: INID: (91) Date on which an international application filed under
the PCT no longer has an effect in one or several
designated or elected States due to failure to enter the national
or regional phase or the date on which it
has been determined that it had failed to enter the
national or regional phase
-->
<!ELEMENT B910  (date) >


<!-- * EBD
*********************************
* SDOBI ELEMENTS KEPT FOR 
* BACKWARD COMPATIBILITY
*********************************
-->

<!-- 
  SDOBI  Country of residence
-->
<!ELEMENT rctry (ctry)>

<!-- 
  SDOBI Describes parent document.  ST.32 equivalency = PARENT

-->
<!ELEMENT parent (dnum? , cdoc* , pdoc* , psta? , ppub?)>

<!--
  SDOBI : id of patent
    associated with parent
-->
<!ELEMENT ppub (dnum? , date? , ctry? , kind? , bnum? , dtxt*)+>

<!--
  SDOBI : parent status code
-->
<!ELEMENT psta (#PCDATA)>

<!--
  SDOBI : parent doc. id.
-->
<!ELEMENT pdoc (dnum? , date? , ctry? , kind? , bnum? , dtxt*)+>

<!--
  SDOBI  Country of nationality
-->
<!ELEMENT nctry (ctry)>

<!--
  SDOBI : Components of an address
-->
<!ELEMENT cdoc (dnum? , date? , ctry? , kind? , bnum? , dtxt*)+>

<!--
  SDOBI : Descriptive text
-->
<!ELEMENT dtxt (#PCDATA)>

<!--
  SDOBI : Components of a doc and extdoc (doc, extdoc). Document number
-->
<!ELEMENT dnum (text? | (anum? , pnum?))>

<!ELEMENT pnum (#PCDATA)>

<!ELEMENT anum (#PCDATA)>

<!--
  SDOBI : Bulletin number
-->
<!ELEMENT bnum (#PCDATA)>

<!--
  SDOBI : Components of an address
-->
<!ELEMENT adr ((ttl? , fnm? , snm? , sfx? , iid? , irf? , onm? , syn* , 
oid? , (odv , did)*)? , omc? , pbox? , str* , city? , cnty? , state? , ctry? , 
pcode? , (ead* , tel* , fax*))>

<!--
  SDOBI : Telephone number
-->
<!ELEMENT tel (#PCDATA)>

<!--
  SDOBI : Postal code or zip code
-->
<!ELEMENT pcode (#PCDATA)>

<!--
  SDOBI : Country (ST.3)
-->
<!ELEMENT ctry (#PCDATA)>

<!--
  SDOBI : County, parish, department, etc.
-->
<!ELEMENT cnty (#PCDATA)>

<!--
  SDOBI : Str., house no. or name,
-->
<!ELEMENT str (#PCDATA)>

<!--
  SDOBI : Post Office box number
-->
<!ELEMENT pbox (#PCDATA)>

<!--
  SDOBI : Organization mail code
-->
<!ELEMENT omc (#PCDATA)>

<!--
  SDOBI : Identifying no. of div.
-->
<!ELEMENT did (#PCDATA)>

<!--
  SDOBI : Division of organization
-->
<!ELEMENT odv (#PCDATA)>

<!--
  SDOBI : Identifying no. of org.
-->
<!ELEMENT oid (#PCDATA)>

<!--
  SDOBI : Synonym, cross reference
-->
<!ELEMENT syn (#PCDATA)>

<!--
  SDOBI : Organization name
-->
<!ELEMENT onm (#PCDATA)>

<!--
  SDOBI : Individual ref. number(filing, etc.)
-->
<!ELEMENT irf (#PCDATA)>

<!--
  SDOBI : Suffix (e.g., II, Jr., Esq. et al.)
-->
<!ELEMENT sfx (#PCDATA)>

<!--
  SDOBI : Family, last, surname or organisation
-->
<!ELEMENT snm (#PCDATA)>

<!--
  SDOBI : Given and middle name(s) or initials
-->
<!ELEMENT fnm (#PCDATA)>

<!--
  SDOBI : Components of a name (nam)
    Title (e.g., Mr., Mrs.)
-->
<!ELEMENT ttl (#PCDATA)>


<!-- 
*******************************
Common elements taken out of context
*******************************
-->
<!-- Individual id
-->
<!ELEMENT iid  (#PCDATA) >

<!--Document kind code; e.g., A1
(INID 13, ST.32:B130)
-->
<!ELEMENT kind  (#PCDATA) >

<!--Date: components of a date. Format: YYYYMMDD
-->
<!ELEMENT date  (#PCDATA) >

<!--If no structure is possible, enter text (without markup)
-->
<!ELEMENT text  (#PCDATA) >

<!--Electronic address use for other than email
-->
<!ELEMENT ead  (#PCDATA) >

<!--Fax number
-->
<!ELEMENT fax  (#PCDATA) >

<!--City or town name
-->
<!ELEMENT city  (#PCDATA) >

<!--Region of country; e.g., state, province, etc.
-->
<!ELEMENT state  (#PCDATA) >

<!--Country: use ST.3 country code; e.g. DE, FR, GB, NL, etc.
Also includes EP, WO. Always in upper case. For stateless use XA. 
-->
<!ELEMENT country  (#PCDATA) >

<!-- 
*******************************************************************************
* END FOR COPYING THIS SECTION
* INTO/FROM ep-patent-document.dtd
*******************************************************************************
-->
